body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 40px;
}

main {
    flex: 1 0 auto;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.fixed-action-btn {
    top: 0px;
    right: 20px;
}

.messages {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.messages-holder {
    flex: 1 0 auto;
    max-height: calc(100vh - 75px);
    overflow-y: auto;
}

.messages-input-holder {
    padding-top: 20px;
    color: #fff;
}
.box{
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
}
